@charset "UTF-8";

body {
    font: normal 1.5em arial;
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    color: black;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.664);
}

section > h3 {
    padding-top: 20px;
}

section > div {
    color: black;
}

section > img {
    padding-bottom: 20px;
}
