@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkturquoise;
}

header{
    color: white;
    text-align: center;
}

section {
    background-color: white;
    color: black;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.664);
    
}

section > div {
    color: black;
}
footer {
    color: white;
    text-align: center;
}