@charset "UTF-8";
@font-face {
    font-family: Idroid;
    src: url('fontes/idroid.otf') format('opentype');
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin: 0px;
}
main > section {
    padding: 20px;
    width: 850px;
    background-color: white;
    margin: 0px auto;
}

main > section > article > h1 {
        height: 40px;
        font-size: xx-large;
        font-family: Idroid;
        font-weight: 900;
        font-style: normal;
        color: #164e2f;
        margin: 10px;
}

main > section > article > h2 {
    background-image: linear-gradient(to right, #1378404d, white);
    font-family: Idroid;
    font-weight: normal;
    font-style: normal;
    color: #164e2f;
}

main > section > article > p {
    text-align: justify;
}

main > section > article > div {
    text-align: center;
}

a { /*main > section > article > p > */
    text-decoration: none;
    color: #1b6b3f;
    font-weight: bold;
}

a.simb::after {
    content: ' 🔗 ';
}

section.dark {
    background-color: #164e2f;
}

article.video {
    text-align: center;
}

main > section > aside {
    border-radius: 10px;
    background-color: #C5EBD6;
    padding: 0px 0px 15px 0px;
}

main > section > aside > h1 {
    color: white;
    background-color: #2FA865;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 5px 10px;
}

main > section > aside > p {
    padding: 0px 10px;
}

section.aside {
    border-radius: 0px 0px 10px 10px;
}

main > section > aside > ul {
    display: inline-block;
    width: 350px;
    margin: 0px;
}

footer {
    background-color: #164e2f;
    text-align: center;
    color: white;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

footer > p {
    margin: 0px ;
    padding: 30;
}

footer > p > a {
    color: white;
    font-weight: bold;
}
